*{
    margin: 0 ;
    padding: 0;
    
    color: rgb(41, 40, 40);
    box-sizing: border-box;
}
div.container{
    position: relative;
    width:80%;
    height: auto;
    left: 10%;
    
    
}
.reader{
    width: auto;
    height: 70px;
    background-color: burlywood;
}

/**menu
##   ##  #######  ##   ##  ##   ##
### ###   ##   #  ###  ##  ##   ##
#######   ## #    #### ##  ##   ##
#######   ####    ## ####  ##   ##
## # ##   ## #    ##  ###  ##   ##
##   ##   ##   #  ##   ##  ##   ##
##   ##  #######  ##   ##   #####
*/

.nav-menu{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgb(195, 219, 18);
    display: block;
    
}
/*##   ##    ##     ##   ##  ######   ##   ##  ######     ####   ##   ##  #######  ######
 ##   ##   ####    ### ###   ##  ##  ##   ##   ##  ##   ##  ##  ##   ##   ##   #   ##  ##
 ##   ##  ##  ##   #######   ##  ##  ##   ##   ##  ##  ##       ##   ##   ## #     ##  ##
 #######  ##  ##   #######   #####   ##   ##   #####   ##       ##   ##   ####     #####
 ##   ##  ######   ## # ##   ##  ##  ##   ##   ## ##   ##  ###  ##   ##   ## #     ## ##
 ##   ##  ##  ##   ##   ##   ##  ##  ##   ##   ##  ##   ##  ##  ##   ##   ##   #   ##  ##
 ##   ##  ##  ##   ##   ##  ######    #####   #### ##    #####   #####   #######  #### ##

*/

.wrapper{
   
    width: 100%;
    height: 60px;
    display: flex;
    
  
    
}
.checkbox{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    position: relative;/*para deixar os traços relativos a ele, o checkbox*/
    cursor: pointer;
    
   
    
}
.checkbox .trace{
    width: 40px;
    height:6px ;
    background-color: rgb(34, 33, 33);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;


}
/* Configurando os traços*/
.checkbox .trace:nth-child(1){
    top: 10px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 20px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 30px;
    transform: rotate(0);
}
#toggle{
    display: none;
   
}
#toggle:checked + .checkbox .trace:nth-child(1) {/*o simbolo de adição +, é um seletor que significa o que está dentro*/
    transform: rotate(45deg);
    top: 27px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
   transform: translateX(-100px);
   width: 30px;
   visibility: hidden;
   opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3){
   transform: rotate(-45deg);
   top: 28px;
}

/*
  #####   #######  ######     ##            ##       ##
 ##   ##   ##   #  # ## #    ####            ##     ##
 #         ## #      ##     ##  ##            ##   ##
  #####    ####      ##     ##  ##             ## ##
      ##   ## #      ##     ######              ###
 ##   ##   ##   #    ##     ##  ##               #
  #####   #######   ####    ##  ##             





*/
.wrapper2{
   
    width: 60px;
    height: 15px;
    display: flex;
    
    
    
    
  
    
}
.checkbox2{
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    position: relative;/*para deixar os traços relativos a ele, o checkbox*/
    cursor: pointer;
  
}
.checkbox2 .trace2{
    width: 8px;
    height:1px ;
    background-color: rgb(39, 37, 37);
   position: relative;
   left: 55px;
   
   bottom:8px;
   
    
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    


}
.checkbox2 .trace2:nth-child(1){
    
    transform: rotate(-40deg);
}
.checkbox2 .trace2:nth-child(2){
    
    left: 41px; /*muda formato da seta em conjunto com left do position dos traços*/
    transform: rotate(40deg);
}
#toggle2{
    
   display: none;
    

}
/*fim seta baixo*/
/**/
ul{
    position: relative;
    left: 30%;
}
ul li {
    display: inline-block;
    
    justify-content: flex-end;
    transition: all .3s;
    padding-top: 10px;
    box-sizing: border-box;
   
    
    
}
ul li a{
    color: #343525;
    text-decoration: none;
    
}
ul li a:hover{
    color: black;
}
/*
   ####     ##     ######   #######    ####    #####   ######    ####      ##
  ##  ##   ####    # ## #    ##   #   ##  ##  ##   ##   ##  ##    ##      ####
 ##       ##  ##     ##      ## #    ##       ##   ##   ##  ##    ##     ##  ##
 ##       ##  ##     ##      ####    ##       ##   ##   #####     ##     ##  ##
 ##       ######     ##      ## #    ##  ###  ##   ##   ## ##     ##     ######
  ##  ##  ##  ##     ##      ##   #   ##  ##  ##   ##   ##  ##    ##     ##  ##
   ####   ##  ##    ####    #######    #####   #####   #### ##   ####    ##  ##


*/
ul li ul.list-category {
   visibility: hidden;
}
ul li:hover ul.list-category{
    visibility:visible ;
}

ul li ul.list-category {
    width: 300px;
    height: 1150px;
    
   
    background-color:  #343534; 
    border-radius: 1ex;

    position: absolute;
    top: 85%;
    left: -285%;
   
   
   
    

}
ul li ul.list-category::before{
    border-color: transparent transparent  #343534;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: 86.2%;
    margin-top: -25px;
    position: absolute;
}

ul li ul.list-category li{
    display: flex;
    justify-content: left;
    margin-top: 20px;
   
    
    
}
ul li ul.list-category li a{
    font-size: 20px;
    color: rgb(220, 235, 235);
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
   
    
}
ul li ul.list-category li:hover{
    background-color: rgb(23, 112, 171);
}

/*
 ######   #######    ####   ##   ##   #####   ####      #####     ####    ####      ##
 # ## #    ##   #   ##  ##  ###  ##  ##   ##   ##      ##   ##   ##  ##    ##      ####
   ##      ## #    ##       #### ##  ##   ##   ##      ##   ##  ##         ##     ##  ##
   ##      ####    ##       ## ####  ##   ##   ##      ##   ##  ##         ##     ##  ##
   ##      ## #    ##       ##  ###  ##   ##   ##   #  ##   ##  ##  ###    ##     ######
   ##      ##   #   ##  ##  ##   ##  ##   ##   ##  ##  ##   ##   ##  ##    ##     ##  ##
  ####    #######    ####   ##   ##   #####   #######   #####     #####   ####    ##  ##


*/
ul.list-tecnologic{
width: 700px;
height: 1150px;
position: absolute;
top: 0px;
left: 300px;
border: 2px solid #276baf;
border-radius: 0ex 1ex 1ex 0;
background-color: rgb(203, 194, 211);

visibility: hidden;
}

ul.list-tecnologic li.tecnologic-items{
  
  position: flex;
   width: 210px;
   height: 300px;
  
   
   
}
ul.list-tecnologic li.tecnologic-items {
    display: inline-table;
}
ul.list-tecnologic li.tecnologic-items ul li a {
  color: #5c5c58;
  font-size: 16px;
  position: relative;
  margin-left: 0px;
 
  left: -50px;
  

}
ul.list-tecnologic li.tecnologic-items a{
    color: #343525;
    font-size: 18px;
  
}


li.tecnology:hover ul.list-tecnologic{
visibility: visible;
}
    












